/* Reset Code & Common Start here */
*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   outline: none;
   font-weight: 400;
}
html{
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #fff;
    width: 100rem;
    max-width: 100%;
    margin: auto;
    /* border: 2px solid black; */
}
/* Reset Code & Common end here */

/* Header Code Design */
header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     color: white;
     padding: 2rem;

     position: sticky;
     top: 0;
     z-index: 10;
     min-height: 5vh;
}

.logo-figure{
    border: 1px solid black;
}
.logo{
    font-size: 4rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}
nav ul li{
    padding: 1rem;
    /* transition: all 0.4s; */
}
nav ul li:hover{
    background-color: brown;
    border-radius: 0.6rem;
}
.nav-link{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

/* banner section start here */
.banner{
    padding: 5rem 1rem;
    /* after setting imahge width height then we used display property */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;


}
.banner_img{
    width: 55rem;
    height: 55rem;
    border: 0.3rem solid;
}
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner aside{
    flex-basis: 50%;
    
}
.banner_heading{
    /* make inline block beacuse when we apply background color on it , it not take full width */
   display: inline-block; 
   padding: 1rem;
   background-color: black; 
   color: #fff;
   margin-bottom: 1.5rem;

}
.banner_description{
    font-size: 1.8rem;
    text-align: justify;
}